.highlight {
  color: var(--targetsquare);
}
.start {
  color: var(--startsquare);
}

section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .row {
    display: flex;
    flex-direction: row;
    .column {
      display: flex;
      flex-direction: column-reverse;
      &:nth-child(odd) {
        .field:nth-child(even) {
          background-color: var(--whitesquare);
        }
      }
      &:nth-child(even) {
        .field:nth-child(odd) {
          background-color: var(--whitesquare);
        }
      }
      .field {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 75px;
        height: 75px;
        background-color: var(--blacksquare);
        p {
          font-family: var(--font);
          font-size: 1.5rem;
          cursor: pointer;
          transition: 150ms ease-in-out;
          &:hover {
            transform: scale(1.25);
            transition: 150ms ease-in-out;
          }
        }
      }
    }
  }
}
