section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .row {
    display: flex;
    &:nth-child(odd) {
      .field:nth-child(even) {
        background-color: var(--blacksquare);
      }
    }
    &:nth-child(even) {
      .field:nth-child(odd) {
        background-color: var(--blacksquare);
      }
    }
    .field {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 75px;
      height: 75px;
      background-color: var(--whitesquare);
      p {
        font-family: var(--font);
        font-size: 1.5rem;
        cursor: pointer;
        transition: 150ms ease-in-out;
        &:hover {
          transform: scale(1.25);
          transition: 150ms ease-in-out;
        }
        &:active {
          color: var(--startsquare);
        }
      }
    }
  }
}
